<ng-container *ngIf="operacion_sistema">
  <table border="1" width="100%">
    <tr bgcolor="#c8e0e0">
      <th align="left" valign="top">{{ operacion_sistema.codigo }}</th>
      <th align="left" valign="top" width="100%" colspan="1">{{ operacion_sistema.nombre }}</th>
    </tr>
    <ng-container *ngIf="operacion_sistema.tipo_resultado">
      <tr>
        <th align="left" valign="top">Tipo del resultado</th>
        <td align="left" valign="top" colspan="1">{{ operacion_sistema.tipo_resultado }}</td>
      </tr>
    </ng-container>
    <tr>
      <th align="left" valign="top">Versión</th>
      <td align="left" valign="top" colspan="1">{{ operacion_sistema.version }} ({{ operacion_sistema.fecha_version | date: 'dd/MM/yyyy' }})</td>
    </tr>
    <tr>
      <th align="left" valign="top">Autores</th>
      <td align="left" valign="top" colspan="1">
        <ul *ngIf="operacion_sistema.autores?.length; else blockInterrogacion">
          <li *ngFor="let autor of operacion_sistema.autores">{{ objetos.get(autor).nombre }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th align="left" valign="top">Dependencias</th>
      <td align="left" valign="top" colspan="1">
        <ul *ngIf="operacion_sistema.trazabilidad_desde?.length; else blockNinguno">
          <li *ngFor="let dependencia of operacion_sistema.trazabilidad_desde">[{{objetos.get(dependencia).codigo}}] {{ objetos.get(dependencia).nombre }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th align="left" valign="top">Descripción</th>
      <td colspan="1" align="left" valign="top">
          <ng-container *ngIf="operacion_sistema.descripcion; else blockPD">{{ operacion_sistema.descripcion }}</ng-container> 
      </td>
    </tr>
    <tr>
      <th align="left" valign="top">Parámetros</th>
      <td align="left" valign="top">
        <ul *ngIf="operacion_sistema.parametros?.length; else blockNinguno">
          <li *ngFor="let param of operacion_sistema.parametros">
            <code ngSwitch="{{ param.tipo }}">
              <ng-container *ngSwitchCase="'S'">
                <ng-container *ngIf="param.tipo_base_default">{{ tipos_base[param.tipo_base_default].nombre }}</ng-container>
                <ng-container *ngIf="param.tipo_base">{{ objetos.get(param.tipo_base).nombre }}</ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'C'">
                Set (<ng-container *ngIf="param.tipo_base_default">{{ tipos_base[param.tipo_base_default].nombre }}</ng-container>
                <ng-container *ngIf="param.tipo_base">{{ objetos.get(param.tipo_base).nombre }}</ng-container>)
              </ng-container>
              <ng-container *ngSwitchCase="'SE'">
                Sequence (<ng-container *ngIf="param.tipo_base_default">{{ tipos_base[param.tipo_base_default].nombre }}</ng-container>
                <ng-container *ngIf="param.tipo_base">{{ objetos.get(param.tipo_base).nombre }}</ng-container>)
              </ng-container>
              <ng-container *ngSwitchCase="'B'">
                Bag (<ng-container *ngIf="param.tipo_base_default">{{ tipos_base[param.tipo_base_default].nombre }}</ng-container>
                <ng-container *ngIf="param.tipo_base">{{ objetos.get(param.tipo_base).nombre }}</ng-container>)
              </ng-container>
            </code>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th align="left" valign="top">Expresiones de precondición</th>
      <td align="left" valign="top">
        <ul *ngIf="expresiones_pre.length; else blockNinguno">
          <li *ngFor="let exp_pre of expresiones_pre">
            <b>{{exp_pre.nombre || '(sin nombre)'}}:</b> {{ exp_pre.expresion_lenguaje_natural }}
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th align="left" valign="top">Expresiones de precondición (OCL)</th>
      <td align="left" valign="top">
        <ul *ngIf="expresiones_pre.length; else blockNinguno">
          <li *ngFor="let exp_pre of expresiones_pre">
            <code><b>{{exp_pre.nombre || '(sin nombre)'}}:</b> {{ exp_pre.expresion_ocl }}</code>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th align="left" valign="top">Expresiones de postcondición</th>
      <td align="left" valign="top">
        <ul *ngIf="expresiones_post.length; else blockNinguno">
          <li *ngFor="let exp_post of expresiones_post">
            <b>{{exp_post.nombre || '(sin nombre)'}}:</b> {{ exp_post.expresion_lenguaje_natural }}
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th align="left" valign="top">Expresiones de postcondición (OCL)</th>
      <td align="left" valign="top">
        <ul *ngIf="expresiones_post.length; else blockNinguno">
          <li *ngFor="let exp_post of expresiones_post">
            <code><b>{{exp_post.nombre || '(sin nombre)'}}:</b> {{ exp_post.expresion_ocl }}</code>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th align="left" valign="top">Comentarios</th>
      <td align="left" valign="top" colspan="1">
        {{ operacion_sistema.comentarios || 'Ninguno' }}
      </td>
    </tr>
  </table>
  <ng-container *ngFor="let excepcion of operacion_sistema.excepciones">
    <br>
    <table border="1" width="100%">
      <tr bgcolor="#c8e0e0">
        <th align="left" valign="top" nowrap="1">Excepción</th>
        <th align="left" valign="top" width="100%">
          {{ operacion_sistema.nombre }}:: {{ excepcion.nombre }}
        </th>
      </tr>
      <tr>
        <th align="left" valign="top">Condición</th>
        <td align="left" valign="top" colspan="1">
          <ng-container *ngIf="excepcion.condicion_lenguaje_natural; else blockPD">
            {{ excepcion.condicion_lenguaje_natural }}
          </ng-container>
        </td>
      </tr>
      <tr>
        <th align="left" valign="top">Condición (OCL)</th>
        <td align="left" valign="top">
          <ng-container *ngIf="excepcion.condicion_ocl; else blockPD">
            <code>{{ excepcion.condicion_ocl }}</code>
          </ng-container>
        </td>
      </tr>
      <tr>
        <th align="left" valign="top">Expresión</th>
        <td align="left" valign="top" colspan="1">
          <ng-container *ngIf="excepcion.expresion_lenguaje_natural; else blockPD">
            {{ excepcion.expresion_lenguaje_natural }}
          </ng-container>
        </td>
      </tr>
      <tr>
        <th align="left" valign="top">Expresión OCL</th>
        <td align="left" valign="top">
          <ng-container *ngIf="excepcion.expresion_ocl; else blockPD">
            <code>{{ excepcion.expresion_ocl }}</code>
          </ng-container>
        </td>
      </tr>
      <tr>
        <th align="left" valign="top">Comentarios</th>
        <td align="left" valign="top" colspan="1">{{ excepcion.comentarios || 'Ninguno'}}</td>
      </tr>
    </table>
  </ng-container>
</ng-container>
<ng-template #blockPD><span style="color:red;"><b>PD</b></span></ng-template>
<ng-template #blockInterrogacion><span style="color:red;"><b>?</b></span></ng-template>
<ng-template #blockNinguno>Ninguno</ng-template>