{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WREM Password Reset</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'usuarios/css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><img src="{% static 'usuarios/img/logoupo.gif' %}" alt=""></a>
            </div>
        </div>
    </nav>
    <div class="container">
        <p>Le hemos enviado un email con las instrucciones para restablecer su contraseña. Si existe una cuenta con el email que introdujo, debería recibirlo en breve.</p>

        <p>En caso de no recibir el email, asegúrese que ha introducido correctamente el email con el que se registró y verifique la carpeta de spam.</p>
    </div>
</body>
</html>
